
  .back {
	transform: rotateY(180deg);
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
  }
  .front {
	background: url('https://www.google.com/search?q=molddata&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjki8-y3ZPkAhUPAhAIHcfgDhYQ_AUIESgB&biw=1422&bih=720#imgrc=IimLW4YmcYpf3M:') no-repeat center center / contain;
  }
  .clicked {
	border: 2px solid blue;
  }
  .show  {
	  /* transform: rotateY(180deg); */
	  border: 4px solid blue;
}
  .game {
	margin: auto;
	 width: 17.5%; 
	border: 3px solid blue;
	padding: 10px;
  
}